@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700,900;1,700,900");
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a img {
  text-decoration: none;
  border: 0px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

#container2 {
  position: absolute;
  border: 1px solid #04222a;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 250px;
  margin: auto;
  overflow: hidden;
  background: #ff9fa7;
}

#content2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
}

#rolloverCatch2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 999;
  cursor: pointer;
}

#cover2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #fff;
  z-index: 998;
}

#logo2 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 100%;
  height: 100%;
  z-index: 100;
}
#cta2 {
  position: absolute;
  top: 20px;
  left: 182px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3px 10px;
  border: none;
  background-color: #77c2f3;
  cursor: pointer;
  border-radius: 8px;
  z-index: 101;
  /* opacity: 1; */
}
#arrow2 {
  position: absolute;
  top: 12px;
  left: 76px;
  z-index: 15;
}

#txtbubble12 {
  position: absolute;
  top: 200px;
  left: 14px;
  width: 70px;
  height: 40px;
  border-radius: 12px;
  padding: 20px;
  background-color: #77c2f3;
  /* background-color: white; */
  z-index: 10;
  /* opacity: 0.4; */
}
#txt12 {
  position: absolute;
  top: 7px;
  left: 9px;
  color: #1c0221;
  z-index: 20;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
#txtbubblebgtail12 {
  position: absolute;
  top: 29px;
  left: -3px;
  z-index: 10;
}

#txtbubble22 {
  position: absolute;
  top: 170px;
  left: 140px;
  width: 146px;
  height: 70px;
  border-radius: 12px;
  padding: 20px;
  background-color: #fff6e8;
  /* background-color: white; */
  z-index: 10;
  /* opacity: 0.4; */
}
#txt22 {
  position: absolute;
  top: 5px;
  left: 9px;
  color: #1c0221;
  z-index: 20;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
#txtbubblebgtail22 {
  position: absolute;
  top: 60px;
  left: 136px;
  z-index: 10;
}

#txtbubble32 {
  position: absolute;
  top: 200px;
  left: 14px;
  width: 146px;
  height: 40px;
  border-radius: 12px;
  padding: 20px;
  background-color: #77c2f3;
  /* background-color: white; */
  z-index: 10;
  /* opacity: 0.4; */
}
#txt32{
  position: absolute;
  top: 7px;
  left: 9px;
  color: #1c0221;
  z-index: 20;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
#txtbubblebgtail32 {
  position: absolute;
  top: 29px;
  left: -3px;
  z-index: 10;
}

#txtbubble42 {
  position: absolute;
  top: 170px;
  left: 140px;
  width: 146px;
  height: 70px;
  border-radius: 12px;
  padding: 20px;
  background-color: #fff6e8;
  /* background-color: white; */
  z-index: 10;
  /* opacity: 0.4; */
}
#txt42 {
  position: absolute;
  top: 5px;
  left: 9px;
  color: #1c0221;
  z-index: 20;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
#txtbubblebgtail42 {
  position: absolute;
  top: 60px;
  left: 136px;
  z-index: 10;
}

#dots12 {
  position: absolute;
  top: 230px;
  left: 14px;
  display: flex;
  width: 30px;
}
.flexchild {
  flex: 1;
  height: 8px;
  width: 8px;
  padding-left: 8px;
  margin-left: 4px;
  background-color: #1c0221;
  border-radius: 50%;
  display: inline-block;
  z-index: 10;
}

#dots22 {
  position: absolute;
  top: 230px;
  left: 240px;
  display: flex;
  width: 30px;
}

#txt2a2 {
  position: absolute;
  top: 125px;
  left: 64px;
  color: #1c0221;
  /* color:white; */
  z-index: 20;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 32px;
}

#txt4a2 {
  position: absolute;
  top: 21px;
  left: 102px;
  color: #1c0221;
  z-index: 20;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}
#txt4b2 {
  position: absolute;
  top: 9px;
  left: 193px;
  color: #1c0221;
  z-index: 20;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}
#txt4c2 {
  position: absolute;
  top: 47px;
  left: 240px;
  color: #1c0221;
  z-index: 20;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}

#txt5a2 {
  position: absolute;
  top: 58px;
  left: 12px;
  color: #fff6e8;
  z-index: 31;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
  filter: drop-shadow(4px 3px 0px rgba(28, 2, 33, 0.4));
}

#txt5b2 {
  position: absolute;
  top: 111px;
  left: 15px;
  color: #fff6e8;
  z-index: 32;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
  filter: drop-shadow(4px 3px 0px rgba(28, 2, 33, 0.4));
}

#txt5c2 {
  position: absolute;
  top: 180px;
  left: 18px;
  color: #fff6e8;
  z-index: 33;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  filter: drop-shadow(4px 3px 0px rgba(28, 2, 33, 0.4));
}

#txt5d2 {
  position: absolute;
  top: 220px;
  left: 87px;
  color: #1c0221;
  z-index: 34;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
}

#dog2 {
  /* dog starts at 300, then goes to 250, then to 0 */
  position: absolute;
  z-index: 29;
}

#finalframebg2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ff9fa7;
  /* background-color: white; */
  z-index: 30;
}
